{% extends "layout.html" %}

{% block body_content %}

<h1> Your Team Selection</h2>
<div>



        {% for i in teamDisp %}

                <h2> First Selection:{{i.player_1}}</h2>
                <h2> Second Selection:{{i.player_2}}</h2>
                <h2> Third Selection:{{i.player_3}}</h2>
                <h2> Fourth Selection:{{i.player_4}}</h2>
                <h2> Fith Selection:{{i.player_5}}</h2>

        {% endfor %}
</div>

<p> Would you like to start again? </p>



<a href="{{ url_for('about') }}">Reset</a>



{% endblock body_content %}
