{% extends "layout.html" %}

{% block body_content %}


    <h1>Home Page</h1>
    <p>Welcome to this web app!</p>
{% if posts %}
    <!-- for every post in the posts list -->
    {% for choice in about %}
        <!-- display properties from the post -->


        <h3>{{ about.players_select }}</h3>


    <!-- end the for-loop -->
    {% endfor %}
<!-- otherwise... -->
{% else %}
    <!-- display a message indicating that there are no posts -->
    <p>There are no players</p>
<!-- end the 'if' statement -->
{% endif %}

<a href="{{ url_for('login') }}">Login</a>



{% endblock body_content %}
